*{margin: 0; padding: 0; box-sizing: border-box;}
*::before, *::after{box-sizing: border-box;}
ul,ol{list-style: none;}

body{
    font-size: 3.7vw;
}
.topbar{
    background: #D43C33;
    padding: 4.5vw 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbar .topsvg{
    width: 38vw;
}
.topbar .downloadApp{
    color: white;
    text-decoration: none;
    line-height: 7.5vw;
    border: 1px solid white;
    border-radius: 4.2vw;
    display: block;
    font-size: 1.1em;
    padding: 0 10px;
}

.siteNav{}
.siteNav > ol{
    display: flex;
    text-align: center;
    border-bottom: 1px solid #CCC;
    font-size: 1.1em;
}
.siteNav > ol> li{
    flex: 1;
}
.siteNav > ol> li.active{
    color: #D33A31;
}
.siteNav > ol> li> span{
    position: relative;
    height: 10vw;
    line-height: 11vw;
    display: inline-block;
}
.siteNav > ol> li.active> span::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #D33A31;
}


.playlists{}

.latestMusic{}

section.art{}